configs
program/__pycache__
program/AST/__pycache__/
program/semantic/__pycache__/
ast.dot
ast.png
* copy*
/venv
program/tac/__pycache__/
program/tests/tac/__pycache__/
program/tests/__pycache__/
program/mips/__pycache__/
*.tac
*.s